 .container {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    flex: 1;
  }
  
  .nav ul {
    list-style-type: none;
    padding-right: 50vw;
    display: block;
  }
  
  .nav ul li {
    margin-right: 23px; /* Ajoute un espace de 23 pixels entre chaque élément */
  }
  
  .nav ul li:nth-child(3n) {
    margin-right: 0; /* Réinitialise l'espacement pour chaque troisième élément */
  }
  
  .nav ul li:last-child {
    margin-right: 0;
  }
  
  
  .nav ul li {
    margin-left: 20px;
    display: inline;
  }
  
  .nav ul li:first-child {
    margin-left: 0;
  }
  
  .nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  .nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .content {
    padding-top: 80px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .intro, .about {
    margin-bottom: 30px;
  }
  
  .intro h2, .about h2 {
    color: #333;
  }
  
  .intro p, .about p {
    color: #666;
  }
  